<mat-stepper linear #stepper class="h-full">

  <mat-step [stepControl]="gameControls.controls['selectedPlayers']" [editable]="isEditable" class="h-full">
    <ng-template matStepLabel>Add Players</ng-template>
    <app-step-1-cva-wrapper [formControl]="gameControls.controls['selectedPlayers']"></app-step-1-cva-wrapper>
    <div class="w-full flex justify-end items-end">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="gameControls.controls['teamSize']" [editable]="isEditable">
    <ng-template matStepLabel>Select Team Size</ng-template>

    <app-step-2-cva-wrapper [formControl]="gameControls.controls['teamSize']"></app-step-2-cva-wrapper>

    <div class="w-full flex justify-end items-end">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Generate Teams</ng-template>

    <app-pubg-game-step-3
      [formControl]="gameControls.controls['teams']"
      [players]="gameControls.controls['selectedPlayers']?.value"
      [teamSize]="gameControls.controls['teamSize']?.value['size']">
    </app-pubg-game-step-3>

    <div class="w-full flex justify-end items-end">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Game</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="reset(stepper)">Reset</button>
    </div>
  </mat-step>

</mat-stepper>
