<section>

</section>

<section class="grid grid-cols-5">
  @for (team of teams; track $index) {
    <mat-card appearance="raised" class="m-2 w-[250px] flex flex-col items-stretch">

      <mat-card-header>
        <p class="text-xl h-[56px]"> #{{ team.placement }} Team {{ team.name }}</p>
      </mat-card-header>

      <mat-card-content>
        <section class="mb-2">
          <span class="inline-block mr-[8px]">Score: {{ team.score }}</span>
          <span>Kills: {{ team.kills }}</span>
        </section>

       <section>
         @for (player of team.players; track player) {
          <p class="w-[50%]">
            {{ player.name }}
            <span class="inline-block mr-[8px]">Score: {{ player.score }}</span>
            <span>Kills: {{ player.kills }}</span>
          </p>
        }
       </section>

      </mat-card-content>

<!--      <mat-card-actions>-->
<!--        <button mat-button>View players stats → </button>-->
<!--      </mat-card-actions>-->

    </mat-card>
  }
</section>
